<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if metadesc %}
    <meta name="description" content="{{ metadesc }}"/>
    {% else %}
    <meta name="description" content="Climbing Wall occupancy tracker for climbers in the time of covid"/>
    {% endif %}
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% if title %}
    <title>Climbing Wall occupancy tracker for climbers in the time of covid - {{ title }}</title>
    {% else %}
    <title>Climbing Wall occupancy tracker for climbers in the time of covid</title>
    {% endif %}
       
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-2332989-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-2332989-3');
</script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
   

  
 
      <div id="navbar">
        <a href="{{url_for ('sheffield') }}">SHF</a>
        <a href="{{url_for ('leeds') }}">LDS</a>
        <a href="{{url_for ('manchester') }}">MCR</a>
        <a href="{{url_for ('london') }}">LDN</a>
        <a href="{{url_for ('others') }}">ALL</a>
        <a href="{{url_for ('FAQ') }}">FAQ</a>
      </div>
  
    
  
      
    
            
    <div class="container-fluid" style="margin-top:80px" style="margin-bottom:83px">
            
            {% block content %}{% endblock %}
            
    </div>
  
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>

<div class="footer">
<div class="progress-container">
  <div class="progress-bar" id="myBar"></div>
</div>
<a href="https://www.netherton-foundry.co.uk/"><img src="{{ url_for('static', filename='NFSBanner.jpg') }}" title="Netherton Foundry Shropshire" alt="Netherton Foundry Shropshire"></a>

</div>
</body>
</html>




