{% extends "base.html" %}

{% block content %}

<section class="content", id="faq">
    <div>
<h3>{{today}}</h3>

<h1>10 Frequently Asked Questions About How Full is my wall</h1>
<br>
  <div>
 <br><p class="text-justify"><h2>1. How do i add a counter?</h2>
 <p class="text-justify">You can email <a href="mailto:dobbinwondermule@gmail.com">me</a>, or you can issue a pull request to my git repo which is here <a href="https://github.com/dobb1n/howfullismywall">https://github.com/dobb1n/howfullismywall</a> </p>

<p class="text-justify"><h2>2. Who is behind this?</h2>
<p class="text-justify">Me! my name is Ben, i am a cloud and devops engineer from Sheffield and have been climbing for 27 years.</p>

<p class="text-justify"><h2>3. When will Covid bog off?</h2>
<p class="text-justify">Dunno. Not soon enough</p>

<p class="text-justify"><h2>4. What are the best socks to do my first HVS in?</h2>
<p class="text-justify">red ones</p>

<p class="text-justify"><h2>5. Can i get involved?</h2>
<p class="text-justify">Yes! i would love it if you would. Get in touch <a href="mailto:dobbinwondermule@gmail.com">on email</a> or by some other means - would suggest against telepathy</p>    

<p class="text-justify"><h2>6. How full is my cavity wall insulation</h2>
<p class="text-justify">Not sure. Get an expert to help</p>

<p class="text-justify"><h2>7. Can you think of any more questions?</h2>
<p class="text-justify">No</p>

<p class="text-justify"><h2>8. Whats your favourite cheese</h2>
<p class="text-justify">Depends</p>

<p class="text-justify"><h2>9. I have an idea... </h2>
<p class="text-justify">Great! let me know - <a href="mailto:dobbinwondermule@gmail.com">on email</a></p>   

<p class="text-justify"><h2>10. Can you think of any more questions?</h2>
<p class="text-justify">No</p> 

</div>
  
</section>


{% endblock %}
            
            

                  



  

