{% extends "base.html" %}

{% block content %}

<section class="content", id="faq">
    <div>
<h3>{{today}}</h3>

<h1>10 Frequently Asked Questions About How Full is my wall</h1>
<br>
  <div>
 <br><p class="text-justify"><h2>1. How do i add a counter?</h2>
 <p class="text-justify">You can email <a href="mailto:dobbinwondermule@gmail.com">me</a>, or you can issue a pull request to my git repo which is here <a href="https://github.com/dobb1n/howfullismywall">https://github.com/dobb1n/howfullismywall</a> </p>

<p class="text-justify"><h2>2. Who is behind this?</h2>
<p class="text-justify">Me! my name is Ben, i am a cloud and devops engineer from Sheffield and have been climbing for 27 years.</p>

<p class="text-justify"><h2>3. When will Covid bog off?</h2>
<p class="text-justify">Not soon enough</p>

<p class="text-justify"><h2>4. What are the best socks to do my first HVS in?</h2>
<p class="text-justify">red ones</p>

<p class="text-justify"><h2>5. Can i get involved?</h2>
<p class="text-justify">Yes! i would love it if you would. Get in touch <a href="mailto:dobbinwondermule@gmail.com">on email</a> or by some other means - would suggest against telepathy</p>    

<p class="text-justify"><h2>6. How does this site work?</h2>
<p class="text-justify">Its a Flask app with a google datastore backend. Basically the flask app makes a query of the database and returns the answer as a list to the jinja template which iterates over the list. All code is written by hand and committed to Github (which is why its not very pretty!), then there is a cloudbuild trigger set on the repo so that any new commits get automatically built to app engine. These are all google cloud things, and that should tell you where its hosted!</p>

<p class="text-justify"><h2>7. What gave you this idea?</h2>
<p class="text-justify">I was thinking about going back to the wall and i wanted to see in one place all the counters, so i made it for me really but then figured you might find it useful, and so here we are. </p>

<p class="text-justify"><h2>8. Can we add in timeseries data so we can see when busy times are?</h2>
<p class="text-justify">i love this idea, but in order to do it you need to scrape the counters from each of the sites, and save the numbers at a given time in the database. This is probably doable, and am tinkering with it using beautiful soup to see if i can get it to work. if you have more time, by all means issue a pull request. </p>

<p class="text-justify"><h2>9. I have an idea... </h2>
<p class="text-justify">Great! let me know - <a href="mailto:dobbinwondermule@gmail.com">on email</a></p>   

<p class="text-justify"><h2>10. Can you think of any more questions?</h2>
<p class="text-justify">No</p> 

</div>
  
</section>


{% endblock %}
            
            

                  



  

